/* header css */

.header {
    background-color: rgb(255, 243, 134);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

/* header-left css */

.header-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-left img {
    width: 55px;
}

/* header-right css */

.header-right {

}

.menu-list {
    display: flex;
    gap: 24px;
}


/* main css */

.main-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../image/grasslands.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-sec-container {
    
 
}

/* main-title h1 font family */
@font-face {
    font-family: 'GounBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

/* main-title p font family */

@font-face {
    font-family: 'GowoonDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.main-title {
    line-height: 20px;
}

.main-title h1 {
    color: #72e231;
    font-size: 60px;

    font-family: 'GounBatang';
}

.main-title p {

    font-family: 'GowoonDodum';

    color: #fcc40d;
    font-size: 30px;

}


/* footer css */

.footer {
    margin: 0;
    background: #252525;
    width: 100%;
    height: 100%;
}

.footer_container {
 
    
}

.master_name {
    padding-bottom: 10px;
}

.master_name p {
    color: #A9A9A8;
}

.phone-number_info {
    display: flex;
    gap: 10px;
}

/* .phone-number_info img {
    width: 25px;
    height: 25px;
} */

.phone-number_info p {
    color: #A9A9A8;
}

.address_info {
    padding-top: 10px;
}

.address_info p {
    color: #A9A9A8;
}

.copyright_info {
    padding-top: 10px;
}

.copyright_info p {
    color: #A9A9A8;
}
